body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

.board {
  width: 160px;
  height: 160px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin: 20px auto;
}

.cell {
  width: 50px;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  background: #fff;
  border: 2px solid black;
}

.reset {
  padding: 10px 20px;
  background: black;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border: none;
  margin-top: 15px;
}